.button {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 240px;
  padding: 0;
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 13px 0 rgba(0,0,0,0.34);
  color: #fff;
  font-size: rem(14px);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 60px;
  transition: all ease 300ms;

  @include breakpoint((max-width 500px, max-height 650px)) {
    height: 50px;
    width: 200px;
    line-height: 50px;
  }

  @include breakpoint((max-width 320px, max-height 568px)) {
    height: 40px;
    width: 150px;
    line-height: 40px;
    font-size: rem(12px);
  }

  &__icon {
    display: inline-block;
    margin-left: 4px;

    @include breakpoint((max-width 500px, max-height 650px)) {
      width: 20px;
    }

    @include breakpoint((max-width 320px, max-height 568px)) {
      width: 16px;
    }
  }

  &[disabled],
  &--disabled {
    box-shadow: none;
    opacity: 0.7;
    pointer-events: none;
  }
}
