.button {
  height: 60px;
  width: 240px;
  padding: 0;
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 0 4px 13px 0 rgba(0,0,0,0.34);
  color: #fff;
  font-size: rem(14px);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;

  &__icon {
    display: inline-block;
    margin-left: 4px;
  }
}
