.checkbox {
  font-size: rem(11px);

  input {
    @include visually-hidden();
  }

  label, a {
    color: #9B9B9B;
  }

  label {
    position: relative;

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 17px;
      width: 17px;
      border: 1px solid #9B9B9B;
      border-radius: 1px;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
      margin-right: 7px;
      cursor: pointer;
    }

    &:after {
      display: none;
      content: '';
      background: url('../images/checkbox.svg') no-repeat;
      width: 11px;
      height: 8px;
      position: absolute;
      top: 4px;
      left: 3px;
    }
  }

  input:checked + label:before {
    background: #9B9B9B;
  }

  input:checked + label:after {
    display: block;
  }

  input:focus + label:before {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &--invalid label:before {
    border-color: $error-border-color;
    background-color: $error-background-color;
  }
}
