.header {
  height: 50px;
  padding: 0 28px;
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__help,
  &__close {
    background: transparent;
    padding: 2px;
    border: none;
  }
}
