.screen {
  display: none;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  &--welcome {
    padding-bottom: 64px;
  }

  &--tips {
    padding-top: 7px;
  }

  &__content {
    margin: auto;
    width: 100%;
  }

  &.active {
    display: flex;
    flex-grow: 1;
  }
}
