.screen {
  display: none;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint((max-width 500px, max-height 650px)) {
    padding: 20px !important;
  }

  &--welcome {
    padding-bottom: 64px;
  }

  &--tips {
    padding-top: 7px;
  }

  &__content {
    margin: auto;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(16px);
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 28px;
  }

  &.active {
    display: flex;
    flex-grow: 1;
  }
}
