.upload-block {
  display: block;

  &__title {
    color: #F88E32;
    font-size: rem(9px);
    line-height: rem(11px);
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 5px;
  }
}

.upload--is-mobile {
  .upload-block  {
    @include breakpoint($mobile) {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .upload-block__title   {
    @include breakpoint($mobile) {
      display: none;
    }
  }
}
