.upload {
  text-align: center;

  &__title {
    margin-bottom: 5px;
  }

  &__title-2 {
    margin-top: 33px;
    margin-bottom: 21px;
  }

  &__qrcode {
    margin: 0 auto;
    margin-top: 20px;
  }

  &__video {
    margin-right: 35px;

    &-btn {
      border-radius: 25px;
      width: 33px;
      height: 33px;
      box-shadow: 0 4px 10px 0 rgba(163,76,0,0.19);
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      padding-left: 4px;

      span {
        @include visually-hidden;
      }
    }

    p {
      font-size: rem(11px);
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 21px;
      text-align: center;
      color: #F88E32;
      margin-top: 5px;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__files {
    display: flex;
    justify-content: space-between;
    width: 210px;
  }
}
