.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__logo {
    width: 240px;
    margin-bottom: 36px;

    img {
      width: 240px;
    }
  }

  &__powered {
    font-size: rem(10px);
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 1.6px;
  }

  &__text {
    margin-bottom: 67px;
    line-height: rem(21px);
  }
}
