<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SAIA Perfect Fit</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>
  <div class="widget-container">

    <!-- WIDGET HEADER - START -->
    <div class="header">
      <button class="header__help">Help</button>

      <div class="header__logo">
        <img src="../images/logo.svg" alt="SAIA Perfect Fit Logo">
      </div>

      <button class="header__close">
        <img src="../images/close-icon.svg" alt="Close button icon">
      </button>
    </div>
    <!-- WIDGET HEADER - END -->

    <!-- WELCOME SCREEN - START -->
    <div class="screen screen--welcome" data-screen="1">
      <div class="screen__content welcome">
        <div class="welcome__logo">
          <img src="../images/logo.svg" alt="SAIA Perfect Fit Logo">
          <p class="welcome__powered">POWERED BY 3DLOOK</p>
        </div>
        
        <p class="welcome__text">After uploading only two photos we will determine your body measurements and select the size that will fit you best</p>

        <button class="button">Start
          <img class="button__icon" src="../images/arrow.svg" alt="Go next arrow icon">
        </button>
      </div>
    </div>
    <!-- WELCOME SCREEN - END -->

    <!-- TIPS SCREEN - START -->
    <div class="screen screen--tips active" data-screen="2">
      <div class="screen__content tips">
        <h2 class="tips__title">Hi, here are some tips</h2>
        <p class="tips__text">Simply take two photos with any smartphone<br>camera. You can be on any background.</p>
        <div class="tips__slider slider">
          <div class="slider__slides">
            <div class="slider__slide active">
              <img src="../images/slide1.png" alt="">
            </div>

            <div class="slider__slide">
              <img src="../images/slide2.png" alt="">
            </div>

            <div class="slider__slide">
              <img src="../images/slide3.png" alt="">
            </div>
          </div>

          <div class="slider__bullets">
            <div class="slider__bullet active"></div>
            <div class="slider__bullet"></div>
            <div class="slider__bullet"></div>
          </div>

          <div class="slider__nav">
            <button class="slider__back-btn">
                <img src="../images/slider-next-icon.svg" alt="Prev slide button icon">
            </button>
            <button class="slider__next-btn">
              <img src="../images/slider-next-icon.svg" alt="Next slide button icon">
            </button>
          </div>
        </div>
        <button class="button">I understand</button>
      </div>
    </div>
    <!-- TIPS SCREEN - END -->
  </div>
</body>
</html>
